.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputContainer .input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-indent: 10px;
}

.btnAdd {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}