.more {
    height: 500px;
    border: 1px solid black;
    width: 100%;
}

.place {
    padding: 10px;
    height: 20%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
}

.discription {
    padding: 10px;
    height: 50%;
    width: 100%;
}

.homeBtn {
    text-align: center;
    background-color: blanchedalmond;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.taskText {
    height: 10%;
    border-top: 1px solid black;
    padding: 5px;
}

.place-label {
    border-top: 1px solid black;
    /* margin-top: 10px; */
}

.discription-label {
    border-bottom: 1px solid black;
}

.discription-label,
.place-label {
    background-color: cornsilk;
    /* display: inline-block; */
    text-align: center;
    padding: 5px;
    /* border-bottom: 1px solid black; */
}

textarea {
    width: 100%;
    height: 100%;
    border: 0;
}

.edit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.taskText,
.place,
.discription {
    position: relative;
}

.subForm {
    opacity: 0;
}