.tasksContainer {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border: 1px solid grey;
    border-radius: 3px;
    overflow-y: auto;
}

.tasksContainer .task {
    width: 100%;
    min-height: 20%;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}

.tasksContainer .task .checkbox {
    width: 40px;
    height: 20px;
}

.taskText {
    font-size: 25px;
    width: 90%;
    cursor: pointer;
    word-break: break-all;
    padding-left: 10px;
}

.tasksContainer .task .delete {
    color: red;
    /* width: 100%; */
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    transition-duration: .2s;
}

.task:hover .delete,
.task:hover .more {
    opacity: .5;
}

.task:hover .delete:hover {
    opacity: 1;
}

.gray {
    color: gray;
}

.through {
    text-decoration: line-through;
    color: gray;
}

.high {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    width: 20px;
    opacity: 0;
}

.task:hover .more:hover {
    opacity: 1;
    cursor: pointer;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 100px;
}

.deleteInput {
    /* padding: 0;/ */
    border: none;
    /* font: inherit; */
    /* color: inherit; */
    background-color: transparent;
    cursor: pointer;
}

.formDelete {
    display: inline;
    width: 27px;
}