.buttonsContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
}

.buttonsContainer > div {
    width: 30%;
    text-align: center;
}

@media all and (max-width: 700px) {
    .buttonsContainer {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
    }

    .buttonsContainer > div {
        width: 50%;
    }
}