.btnsShowInfo {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.btnsShowInfo > div {
    width: 30%;
    cursor: pointer;
    transition-duration: .1s;
}

.btnsShowInfo > div:hover {
    color: red;
}