.btnDelete {
    width: 30%;
    display: block;
    cursor: pointer;
    transition-duration: .1s;
    text-align: center;
}

.btnDelete input {
    background-color: transparent;
    border: 0
}

.btnDelete:hover {
    color: red;
}